



.navbar {
    background-color: white;
}

.navbar-brand {
    color: #3b2f2f;
}

.nav-link {
    color: #3b2f2f;
}

.hero-section {
    background: url(../images/hero.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #3b2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    font-family: 'Handlee', cursive;
}

footer {
    background-color: #6F4E37;
    color: #FFEBD4;
    padding: 20px 0;
}

footer .fa-brands,
footer .fab {
    color: #FFEBD4;
}
